body {
  color: #777777;
}
.box {
  float: left;
  margin: 5px;
  padding-top: 30px;
  width: 220px;
  height: 270px;
  box-shadow: 8px 10px 14px -8px #CECECE;
  background-color: #F4F1F1;
  text-align: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.box:hover {
  padding-top: 20px;
  background-color: #fff;
  -webkit-transition: scale(1.1);
  color: #7CA3F4;
  -webkit-transition: all .0.5s ease-in-out;
}

.img::before {
  font-size: 50px;
}

h2 {
  font-family: "Playfair Display", sans-serif;
}

h5 {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

p {
  padding: 10px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
